<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StoreViewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9C10B7E61E264F7E00E7BACA</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>9C10B7FF1E264F7F00E7BACA</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>9C10B80A1E264F7F00E7BACA</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
